.card img{
    width: 40%;
}

nav, body{
    background-color: rgba(250, 202, 210, 0.55);
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: rgba(241, 133, 152, 0.8);
}

.img_tab{
    height: 90px;
    border-radius: 50px;
}

.minha-btn{
    background-color: deeppink;
}

img{
    border-radius: 20px;
}

.logo{
    border-radius: 0px;
}